html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li, nav ul h1 {
    display: inline;
}

button {
    font-size: 12px;
}

header {
    margin: 0 auto;
    max-width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header h1 {
    position: absolute;
    top: 20%;
    left: 10px;
    background-image: url(../img/moip_logo.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

header figure {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    left: 0;
}

.logo, .login {
    display: inline-block;
    width: 49%;
    height: 150px;
    margin: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}

header .login p {
    position: absolute;
    top: 30%;
    right: 155px;
    font-size: 0.9em;
    word-wrap: break-word;
}

header .logo p {
    top: 31%;
    margin-left: 125px;
    position: relative;
    word-break: break-word;
    width: 90px;
    font-size: .9em;
    line-height: 1.2;
}

header button {
    position: absolute;
    top: 33%;
    right: 3%;
    font-size: .85em;
    padding: 8px 45px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #ccc;
    font-weight: 100;
}

main {
    width: 100%;
    display: inline-block;
}

main header {
    text-align: center;
    margin-bottom: -30px;
}

main header p {
    font-size: 1.2em;
    margin-top: -15px;
}

main section.socialLogin {
    width: 27%;
    display: inline-block;
    padding-left: 20%;
    position: relative;
    top: 95px;
}

main section.separator {
    width: 3%;
    display: inline-block;
    padding: 0 15px;
    position: relative;
    bottom: 15px;
}

main section.registerForm {
    width: 40%;
    display: inline-block;
    margin: 25px 10px 0 0;
    position: relative;
    top: 70px;
}

main section footer {
    line-height: normal;
    font-size: 0.8em;
    margin-top: -10px;
}

section.socialLogin button {
    border-color: transparent;
    border-radius: 4px;
    font-size: 0.75em;
    position: relative;
    text-align: center;
}

section.socialLogin .facebookButton {
    background-color: #3b5998;
    background-image: url(../img/facebook_logo.svg);
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    left: 17%;
    padding: 4px 60px;
    background-position: 5px, left;
    background-size: 25px 25px;
}

section.socialLogin .googleButton {
    background: url(../img/google_logo.svg);
    display: block;
    left: 30%;
    margin: 10px 0 30px 0;
    padding: 4px 15px 4px 40px;
    background-color: #ff5d5d;
    color: #fff;
    background-repeat: no-repeat;
    background-position: 5px, left;
    background-size: 25px 25px;
}

section.socialLogin p {
    line-height: 1.3;
    text-align: justify;
}

section.registerForm form {
    width: 85%
}

section.registerForm input {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-weight: 100;
    padding: 7px 0 7px 15px;
    margin: 3px 4px 3px 0;
    font-size: 0.9em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#input-name, #input-email {
    width: 100%;
}

#input-cpf {
    width: 40%;
    display: inline-block;
    position: relative;
}

#input-cellphone {
    width: 43%;
    display: inline-block;
    position: relative;
    right: -14%;
}

#input-password {
    margin: 3px 5px 3px 0;
    width: 48%;
}

#input-confirmPassword {
    margin: 3px 0 3px 3px;
    width: 48%;
}

section.registerForm label {
    font-size: 0.8em;
}

section.registerForm input.submitButton {
    position: absolute;
    right: 25%;
    font-size: .85em;
    padding: 8px 45px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #ccc;
    font-weight: 100;
    font-size: 1.2em;
    background-color: #1f4d73;
    padding: 15px 100px;
    color: #fff;
}

/*Social login buttons */

/* Or border */

/*Social login disclaimer */

/*Mobile buttons */

/*Or section */

/*Registering form */

/*Localization of required messages*/

/*Register button */

/*Hide cellphone on Mobile form */

/*background image*/

/*Test on mobile */
    /*remove sign in text on mobile */
    /* Hide header <p> on mobile */

/*SEO optimization */
/*semantic html */

/* image rights? */

/* modernizr */
 /*font colors */
 /* font family */

 /*css nesting best practices*/

 /* check já tem conta under 900px*/









